{% extends "layout.html" %}
{% block content %}
<html>
<head>
    <title></title>
    <style>
        body
        {
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-size:100% 100%;
        background-image:url({{url_for('static', filename='images/fuel-quote.jpg')}});
        }
    </style>
</head>
<body>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Fuel Quote</legend>
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}

                    {% if form.date.errors %}
                            {{ form.date(class="form-control form-control-lg is-invalid")  }}
                            <div class="invalid-feedback">
                                {% for error in form.date.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg") }}
                    {% endif %}                 
                </div>
                <div class="form-group">
                    {{ form.gallons.label(class="form-control-label") }}
                    
                    {% if form.gallons.errors %}
                        {{ form.gallons(class="form-control form-control-lg is-invalid")  }}
                        <div class="invalid-feedback">
                            {% for error in form.gallons.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.gallons(class="form-control form-control-lg") }}
                    {% endif %} 
                </div>
                <div class="form-group">
                    <p class='text-muted'>Suggested Price
                        <div class="list-group-item list-group-item-light">${{ form.price }}</div>
                    </p>
                </div>
                <div class="form-group">
                    <p class='text-muted'>Total Amount Due
                        <div class="list-group-item list-group-item-light">
                        {% if form.gallons.data == None %}
                            <div>N/A</div> 
                        {% else %}                    
                            {{ "$%.2f"|format(form.price * form.gallons.data) }}
                        {% endif %} 
                        </div>
                    </p>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" name="submit_button" value="Update/Calculate Price" class="btn btn-outline-info">
                <input type="submit" name="submit_button" value="Submit" class="btn btn-outline-info">
            </div>
        </form>
    </div>
</body>
</html>
{% endblock content %}