{% extends "layout.html" %}
{% block content %}
	<h1>History Page</h1>
    <table>
        <tr>
          <th>Client Name</th>
          <th>Gallons Requested</th>
          <th>Delivery Address</th>
          <th>Delivery Date</th>
          <th>Suggested Price / Gallon</th>
          <th>Total Amount Due</th>
          <th>Quote Created Date</th>
        </tr>
        <tr>
          <td>Sheila W Koga</td>
          <td>5000</td>
          <td>1989 Scenic Way, Champaign, Illinois(IL), 61820</td>
          <td>03-01-2021</td>
          <td>$2.05</td>
          <td>$10250</td>
          <td>02-23-2021</td>
        </tr>
      </table> 
{% endblock content %}