{% extends "layout.html" %}
{% block content %}
	<h1>History Page</h1>
    <table>
        <tr>
          <th>Client Name</th>
          <th>Gallons Requested</th>
          <th>Delivery Address</th>
          <th>Delivery Date</th>
          <th>Suggested Price / Gallon</th>
          <th>Total Amount Due</th>
          <th>Quote Created Date</th>
        </tr>
        {% for history in histories %}
            <tr>
            <td>{{ history.client_name }}</td>
            <td>{{ history.gallons_requested }}</td>
            <td>{{ history.delivery_address }}</td>
            <td>{{ history.delivery_date }}</td>
            <td>{{ history.suggested_pice }}</td>
            <td>{{ history.total_amount }}</td>
            <td>{{ history.quote_created }}</td>
            </tr>
        {% endfor %}
      </table> 
{% endblock content %}